Checks: >
  -*,
  readability-*,
  google-*,
  performance-*,
  bugprone-*,
  modernize-*,
  -modernize-use-using,
  -modernize-deprecated-headers
  -modernize-macro-to-enum
  -modernize-use-trailing-return-type
WarningsAsErrors: "*"



# IMPORTANT: Set HeaderFilterRegex as shown below.
# Do not set it to '.*', for example.
HeaderFilterRegex: ''
